.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.tasks li:hover {
  background: #51c5de;
  transition: background 0.2s;
}

.tasks li div {
  display: flex;
  align-items: center;
}

.tasks li .edit {
  margin-right: 15px;
  color: #51c5de;
}

.tasks li .delete {
  color: #f04c64;
}

.tasks li .edit,
.tasks li .delete {
  cursor: pointer;
}

.tasks li:hover .edit,
.tasks li:hover .delete {
  color: #000000;
  transition: background 0.2s;
}
